---
import {Image} from "astro:assets";
import Layout from "@/layouts/SlideLayout.astro";
import shopSearch from "@/assets/shopSearch.png";
---

<Layout next="" prev="/ueber-astro/showcase" slideId="5">
    <div class="flex mt-8 gap-4 items-center justify-center">
        <div class="w-1/3">
            <Image
              src={shopSearch}
              loading="lazy"
              width={500}
              height={500}
              alt="Shop Suche"
              class="w-68"
            />
        </div>
    </div>
</Layout>
