---
import Layout from "@/layouts/Layout.astro";
---

<Layout next="/allgemeines/generators" prev="/allgemeines/webframework-paradigmen" slideId="2">
    <h1>Static site generation</h1>

    <p data-step="1">
        Der Server generiert HTML-Dateien in der Build-Zeit, die dann direkt
        ausgeliefert werden.ö
    </p>

    <div class="grid grid-cols-2 my-8">
        <div class="!text-xl flex flex-col items-center" data-step="2">
            <p><strong>Vorteile</strong></p>
            <ul data-step="3">
                <li>Schnelle Ladezeiten</li>
                <li>SEO-freundlich</li>
                <li>Einfache Bereitstellung</li>
            </ul>
        </div>
        <div class="!text-xl flex flex-col items-center border-l-2 pl-8" data-step="4">
            <p><strong>Nachteile</strong></p>
            <ul data-step="5">
                <li>Keine dynamischen Inhalte ohne zusätzliche Tools</li>
                <li>Längere Build-Zeiten bei großen Seiten</li>
            </ul>
        </div>
    </div>

    <p data-step="6">
        Static Seiten sind daher ideal für Blogs, Dokumentationen und Marketing-Seiten, wo Inhalte
        selten aktualisiert werden müssen.
    </p>
</Layout>
