---
import { Image } from 'astro:assets';
import Hero from '@/assets/hero.jpg';
---
<section class="relative min-h-[50vh] overflow-hidden">
    <Image
            src={Hero}
            alt="Shop Hero"
            class="absolute inset-0 w-full h-full object-cover"
            style="filter: brightness(0.6)"
            width={1920}
            height={600}
    />
    <div class="absolute max-w-4xl left-1/2 -translate-x-1/2 top-1/2 -translate-y-1/2  p-8 rounded-lg shadow-lg  border border-indigo-500/20  md:rounded-xl md:p-12
    md:shadow-xl  md:border-indigo-500/30
     z-10 flex flex-col items-center justify-center  bg-indigo-600/20 text-white backdrop-blur-2xl">
        <h1 class="text-4xl md:text-5xl font-extrabold !mt-0 mb-4">Arbeit wieder langweilig?</h1>
        <p class="text-lg md:text-xl">Entdecke unsere exklusiven Produkte für einen spaßigeren Büroalltag,
            passiv-aggressive
            Behandlung von Kollegen oder Kunden und für Arbeitszeitbetrug.</p>
    </div>
</section>
