---
import {Icon} from "astro-icon/components"
---
<section class="bg-indigo-600 text-white py-8">
    <div class="container mx-auto px-4 flex flex-col md:flex-row items-center justify-between">
        <div class="mb-4 md:mb-0">
            <h2 class="text-2xl font-bold">Sommer-Sale</h2>
            <p class="mt-1">Spare bis zu 50% auf ausgewählte Artikel!</p>
        </div>
        <a
                href="/workshop/sale"
                class="inline-block bg-indigo-400 !text-indigo-950 px-6 py-3 !no-underline rounded-lg font-semibold hover:bg-indigo-300 transition"
        >
            <Icon class="inline-block -mt-1" name="mingcute:sale-line"/>
            Jetzt nicht entdecken! <small>(Der Link führt nirgendwo hin)</small></a>
    </div>
</section>
